.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  height: 100vh;
  width: 8rem;
  box-shadow: 0 1rem 1rem rgba(#000, 0.2);
  z-index: 50;
  position: fixed;
  transition: all 0.5s;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 6rem;
    width: 100vw;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
  }

  // &::before {
  //   content: "";
  //   background-image: linear-gradient($color-primary, $color-primary);
  //   box-shadow: 0 1rem 1rem rgba(#000, 0.2);
  //   height: 100vh;
  //   width: 8rem;
  //   top: 0;
  //   left: 0;
  //   transition: all 0.5s;
  //   position: absolute;
  //   z-index: 1;
  // }
}

.nav {
  &__bg {
    background-image: linear-gradient($color-primary, $color-primary);
    box-shadow: 0 1rem 1rem rgba(#000, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 8rem;
    height: 100vh;
    z-index: -1;
    transition: all 0.5s;
    user-select: none;

    @media only screen and (max-width: $bp-large) {
      height: 6rem;
      width: 100vw;
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
    }
  }

  &__list {
    display: grid;
    grid-template-rows: max-content;
    gap: 2rem;
    justify-items: center;
    list-style: none;
    z-index: 20;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: -300%;
    opacity: 0;
    visibility: hidden;
    transform: translate(50%, -50%);

    @media only screen and (max-width: $bp-large) {
      display: grid;
      grid-template-columns: repeat(5, max-content);
      align-items: center;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      row-gap: 1rem;

      @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, 1fr);
        justify-items: start;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.9rem;
        gap: 1rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }

  &__links {
    &:link,
    &:visited {
      text-decoration: none;
      font-family: $font-display;
      font-weight: 400;
      color: $color-grey-dark-1;
      font-size: 2.1rem;
      display: block;
      padding: 0.6rem 1.2rem;
      text-transform: uppercase;
      user-select: none;
      transition: all 0.3s;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.9rem;
        padding: 0.6rem 1.2rem 0rem 1.2rem;
      }

      &:hover {
        background-color: rgba(#fff, 0.2);
      }
    }
  }
}

.nav-cb:checked ~ .nav__bg {
  width: 34rem;

  @media only screen and (max-width: $bp-large) {
    width: 100vw;
    height: 15rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 12rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 21rem;
  }
}

.nav-cb:checked ~ .nav__list {
  left: 50%;
  opacity: 1;
  visibility: visible;

  @media only screen and (max-width: $bp-large) {
    // display: flex;
    top: 50%;
    left: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // display: flex;
    top: -40%;
    left: 50%;
  }
}

.nav-btn {
  position: absolute;
  top: 3.2rem;
  left: 1.7rem;
  z-index: 2;
  cursor: pointer;

  @media only screen and (max-width: $bp-large) {
    top: 2.75rem;
    left: auto;
    right: 1rem;
  }

  &,
  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 0.24rem;
    width: 4.5rem;
    display: block;
    transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);

    @media only screen and (max-width: $bp-small) {
      height: 1.6px;
      width: 3.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 1.6px;
      width: 3rem;
    }
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    &::before {
      transform: translateY(-1.3rem);
    }

    &::after {
      transform: translateY(1.1rem);
    }
  }

  @media only screen and (max-width: $bp-small) {
    &::before {
      transform: translateY(-1.3rem);
    }

    &::after {
      transform: translateY(1.1rem);
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    &::before {
      transform: translateY(-1.15rem);
    }

    &::after {
      transform: translateY(0.95rem);
    }
  }
}

@media (hover: hover) {
  .sidebar:hover .nav-btn::before {
    transform: translateY(-1.9rem);
  }

  .sidebar:hover .nav-btn::after {
    transform: translateY(1.7rem);
  }
}

@media only screen and (max-width: $bp-large) and (hover: hover) {
  .sidebar:hover .nav-btn::before {
    transform: translateY(-1.65rem);
  }

  .sidebar:hover .nav-btn::after {
    transform: translateY(1.45rem);
  }
}

@media only screen and (max-width: $bp-small) and (hover: hover) {
  .sidebar:hover .nav-btn::before {
    transform: translateY(-1.6rem);
  }

  .sidebar:hover .nav-btn::after {
    transform: translateY(1.4rem);
  }
}

@media only screen and (max-width: $bp-smallest) and (hover: hover) {
  .sidebar:hover .nav-btn::before {
    transform: translateY(-1.35rem);
  }

  .sidebar:hover .nav-btn::after {
    transform: translateY(1.15rem);
  }
}

.nav-cb:checked ~ .nav-toggle-btn .nav-btn {
  background-color: transparent;
}

.nav-cb:checked ~ .nav-toggle-btn .nav-btn::before {
  transform: rotate(315deg) translateX(-2.5px) translateY(1px);
  @media only screen and (max-width: $bp-small) {
    transform: rotate(315deg) translateX(-1.5px) translateY(1px);
  }
}

.nav-cb:checked ~ .nav-toggle-btn .nav-btn::after {
  transform: rotate(-315deg);
}

.nav-cb {
  display: none;
}

.sq {
  height: 5rem;
  width: 8rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @media only screen and (max-width: $bp-large) {
    position: absolute;
    top: 0;
    right: 0;
    height: 6rem;
    width: 6rem;
  }
}
